body { background: #c9d07c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-product-0 { color: #e96cc3; font-size: 12px; margin-bottom: 5px; }
.block-sms-1 { color: #b37969; font-size: 18px; margin-bottom: 5px; }
.block-filter-2 { color: #47f619; font-size: 13px; margin-bottom: 5px; }
.block-helper-3 { color: #97312d; font-size: 21px; margin-bottom: 5px; }
.block-logger-4 { color: #afb3ad; font-size: 14px; margin-bottom: 5px; }
.block-search-5 { color: #72d398; font-size: 20px; margin-bottom: 5px; }
.block-logger-6 { color: #cdee36; font-size: 12px; margin-bottom: 5px; }
.block-product-7 { color: #66068; font-size: 20px; margin-bottom: 5px; }
.block-helper-8 { color: #3fbb5a; font-size: 18px; margin-bottom: 5px; }
.block-filter-9 { color: #d79c52; font-size: 18px; margin-bottom: 5px; }
.block-email-10 { color: #cc2c22; font-size: 14px; margin-bottom: 5px; }
.block-uploader-11 { color: #bbcf75; font-size: 16px; margin-bottom: 5px; }